<!-- Navbar améliorée -->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark py-3">
  <div class="container-fluid">
    <!-- Titre de la navbar -->
    <a class="navbar-brand ms-3" href="#">My App</a>

    <!-- Menu de navigation -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item ms-3">
        <a class="nav-link active" routerLink="/wallets">Wallets</a>
      </li>
      <li class="nav-item ms-3">
        <a class="nav-link" routerLink="/transfers">Transfer</a>
      </li>

      <li class="nav-item dropdown ms-3">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Dropdown</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Link</a></li>
          <li><a class="dropdown-item" href="#">Another link</a></li>
          <li><a class="dropdown-item" href="#">A third link</a></li>
        </ul>
      </li>
    </ul>

    <!-- Bouton de déconnexion -->
    <button class="btn btn-outline-light me-3" (click)="logout()">Logout</button>
  </div>
</nav>

<router-outlet></router-outlet>
